@import url("reset.css");
@import url("fonts.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&display=swap");
body {
  font-family: Lato, sans-serif;
  font-weight: 500;
  font-size: 16px;
  max-width: 1950px;
  padding: 0 15px;
  margin: 0 auto;
}
.wrapper {
  position: relative;
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex-grow: 1;
}
.header__container {
  max-width: 1422px;
  padding-block: 30px;
  padding-inline: 15px;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(187, 187, 221);
}

.header__title {
  color: #2f302c;
  font-size: 56px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}
.products {
  padding-block: 82px;
}
.products__container {
  max-width: 1422px;
  margin: 0 auto;
}
.products__title {
  color: #2f302c;
  font-size: 32px;
  font-family: "Lato", sans-serif;
  font-weight: 800;
  line-height: 1.25;
  text-align: center;
  margin-bottom: 36px;
}

.navigation-products {
}
.navigation-products__items {
  display: flex;
  justify-content: center;
  gap: 48px;
  flex-wrap: wrap;
  margin-bottom: 72px;
}
.navigation-products__item {
  color: #2f302c;
  font-weight: 700;
  line-height: 1.25;
  transition: all 10s;
  position: relative;
}
.navigation-products__item::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  background-color: #2f302c;
  left: 0;
  top: 120%;
  transition: all 0.5s;
}
.navigation-products__item:hover::after {
  width: 100%;
  height: 1px;
}

.products__cards {
  display: flex;
  flex-direction: row;
  gap: 72px 36px;
  flex-wrap: wrap;
}

.card-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2f302c;
}
.card-product:hover {
  box-shadow: 1px 5px 5px 0px rgb(161, 154, 154);
}
.card-product__link-image {
  margin-bottom: 32px;
}

.card-product__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
.card-product__title {
  font-weight: 500;
  line-height: 1.25;
}

.card-product__price {
  font-size: 20px;
  font-weight: 800;
  line-height: 1.4;
}
.choice {
  padding-block: 82px;
}
.choice__container {
  max-width: 1180px;
  margin: 0 auto;
}
.choice__title {
  color: #2f302c;
  font-size: 32px;
  font-weight: 800;
  line-height: 1.25;
  margin-bottom: 72px;
  text-align: center;
}
.choice__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 68px;
}
.item {
  display: flex;
  flex-direction: column;
  max-width: 348px;
  align-items: center;
  gap: 24px;
}
.item__svg {
}
.item__title {
  color: #2f302c;
  font-weight: 700;
  line-height: 1.25;
}
.item__content {
  text-align: center;
  color: #7e7f7c;
  line-height: 1.25;
}
