@import url("reset.css");
@import url("fonts.css");

body {
  font-family: Lato, sans-serif;
  font-weight: 500;
  color: #7E7F7C;
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1422px;
  padding-inline: 15px;
  margin: 0 auto;
}

/* ----------------furniture-header--------------------------- */

.header__container {
  display: flex;
  padding-block: 60px;
  gap: 80px;
  flex-wrap: wrap;
  align-items: center;
}
.header__logo1{
  display: none;
}
.header__search { 
  flex-basis: 264px;
  display: flex; 
}

.header__button{
  background: url("../img/svg/vector.svg") left no-repeat;
  width: 17px;
  background-color: white; 
}

.header__search input {
  height: 43px;
  line-height: 1.25;
  padding-inline: 12px;
  outline: none; 
  border-bottom: 1px solid #92948e;
}

.header__nav{
  flex-grow: 1;
}

.header-nav__items {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 44px; 
  align-items: flex-start;
} 

.header-nav__link {
  color: #2f302c;
  text-transform: uppercase; 
  font-weight: 700;
  line-height: 1.25;
  position: relative;
  transition: all 0.3s;
}

.header-nav__link:hover{
   color: #939489;
}

.header-nav__item--menu {
  position: relative;
}
.header-nav__item--menu span {
  padding-right: 7px;
}
.header-nav__sub-menu {
  min-width: 50px;
  position: absolute;
  top: 35px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.header-nav__item--menu:hover .header-nav__sub-menu {
  opacity: 1;
  visibility: visible;
}

.header-nav__img {
  display: inline-block;
  transition: all 0.3s;
}

.header-nav__item--menu:hover .header-nav__img {
  transform: rotate(180deg);
}

.header-nav__item--menu::before {
  content: "";
  top: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 35px;
}

.sub-menu__item{
  text-align: center;
  position: relative;
}

.sub-menu__item:not(:last-child) {
  margin-bottom: 15px;
}

.sub-menu__link {
  font-weight: 700;
  line-height: 1.25;
  transition: all 0.3s;  
}

.sub-menu__link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: #2f302c;
  transition: all 0.3s;
}

.sub-menu__link:hover::after {
  width: 100%;
  left: 0;
}

.sub-menu__link:hover {
  color: #939489;
}

.header__activ-list {
  display: flex;
  gap: 44px;
}

.header__activ-item {
  color: #2f302c;
  font-weight: 700;
  line-height: 1.25;
  padding-left: 22px;
}

.header__activ-item--love{
  background: url("../img/svg/love.svg") left no-repeat;
}

.header__activ-item--cart{
  background: url("../img/svg/beg.svg") left no-repeat;
}

.header__activ-item:hover {
  color: #7e7f7c;
}

.icon-menu{
  display: none;
}

.furniture{
  background-image: url(../img/imags/rectangle.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 114px;
  padding-bottom: 110px;
  background-position: left;
  margin-bottom: 82px;
}

.furniture__container{
  display: flex;
  justify-content: flex-end;
  align-items: center;  
  margin-bottom: 82px;
}

.furniture__info{
  display: flex;
  flex-direction: column;
}

.furniture__info :not(:last-child){
  margin-bottom: 20px;
}

.furniture__subtitle {
  color: #2f302c;
  font-size: 20px;
  line-height: 1.4;
}

.furniture__title {
  color: #2f302c;
  font-size: 96px;
  font-family: "Montserrat",sans-serif;
  font-weight: 700;
  line-height: 1.04; 
  position: relative; 
}

.furniture__title span{
  font-weight: 800;
}

.furniture__title::after{
 content: "";
 position: absolute;
 width: 55%;
 height: 2px;
 background-color:#2f302c ;
 top: 110%;
 left: 0;
}

.furniture__description {
  padding-top: 16px;
  color: #2f302c;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.25;
}

.furniture__text {
  color: #7e7f7c;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}

@media (width <= 1355px) {
  .header__container {
    padding-block: 20px;
    gap:1px 35px;
  }
  .header__activ-list,
  .header-nav__items {
    gap: 20px;
  }
}
@media (width <= 1070px) {
  .header__container {
    gap: 20px;
  }
  .header__search { 
    flex-basis: 178px;  
  }
}
@media (width <= 950px) {
  .header__container {
    gap: 20px 19px;   
  }
  .header__logo1{
  display: block;
  }
  .header__logo {
    display: none;
  }
  .sub-menu__item:not(:last-child) {
    margin-bottom: 5px;  
  }
  .furniture__title{
    font-size: 45px;
  }
  .furniture__description{
    font-size: 16px;
  }
    
}

@media (width <= 768px) {
  .header__container {
    gap: 20px 18px;  
  }
  .icon-menu,
  .header__logo,
  .header__search,
  .header__nav,
  .header__activ-list{
    position: relative;
    z-index: 3;
  }
  .icon-menu {
	  display: block;
	  width: 30px;
	  height: 18px;
	  flex-shrink: 0; 
    background-color: white; 
	}
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    right: 0;
    background-color:#2f302c;    
  }
  .icon-menu::after{
    top: 0;
  } 
  .icon-menu::before{
    bottom: 0;
  }
  .icon-menu span{
    top: 50%;
    translate: 0 -50%; 
  }
  .header-nav{
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    background-color: #f6f6f6;
    z-index: 1;
    overflow: auto;
    transition: left 0.3s;
    padding: 120px 15px 30px 15px;
	} 
     
  .header-nav::before {
		content: "";
		position: fixed;
		width: 100%;
		height: 70px; 
		top: 0;
		left: 100%;
		transition: left 0.3s;
		background-color: #fff;
		z-index: 2;
	}
  .header-nav__items{
    flex-direction: column;
    align-items: center;
  }
  .header__search{
    flex-grow: 1;
  }
  .header-nav__sub-menu {
    left:100%;
    top: 0;
  }
  .header-nav__item--menu:hover .header-nav__img {
    transform: rotate(-90deg);
  }
  .header__activ-item{
    width: 23px;
   
    overflow: hidden;  
  }
  .header__activ-list{
    gap: 5px;
  }
  .furniture{
    background-image: url(../img/imags/rectangle.jpg);
    background-position: 10% 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
  }
  [data-menu-open] .icon-menu span {
		width: 0;
	}
	[data-menu-open] .icon-menu::before {
		rotate: -45deg;
		
    bottom: 50%;
		
	}
	[data-menu-open] .icon-menu::after {
		rotate: 45deg;
		translate: 2px -2px;
		top: 50%;
	}
	[data-menu-open] .header-nav,
	[data-menu-open] .header-nav::before {
		left: 0;
	}
}
@media (width <= 490px) {
  .header__container{
    gap: 7px;
  }
  .header-nav__items{
    gap: 25px;
  } 
  .header__button {
    display: none;
  }
  .header__search{
    flex-basis: 150px;
  }
  .header__search input{
    padding-inline: 5px;
    border: 1px solid #e1e4db;
    border-radius: 4px;  
  }
  
  .furniture__info :not(:last-child){
    margin-bottom: 5px;
  }
  .furniture__description {
    padding-top: 10px;
  }
}
/* --------------hero---------------------------------- */
.card {
 padding-block: 82px;
}
.card__container {
  display: grid;
  grid-template-columns:321px 1fr 321px;
  gap: 36px;
  grid-auto-rows: 1fr;
}

.body-card {
  background-color: rgba(247, 247, 247, 1);
}

.body-card__images--center{
  text-align: center;

}
.body-card__images--end{
  text-align: end;
}
.body-card__images--bottom {
  text-align: right;

}
 
.body-card__images--bottom img{
  padding-right: 32px;
  margin-bottom: 96px;

}
.body-card__info { 
  padding-top: 48px;
  padding-left: 32px;
}
.body-card__info--center{
  text-align: center;
}
.body-card__title {
  font-size: 20px;
  font-weight: 800;
  line-height: 1.4;
  margin-bottom: 24px;
  
}
.body-card__text {
  line-height: 1.25;
  margin-bottom: 38px;
  max-width: 240px;
}
.body-card__text--wight{
  max-width: 310px;
  margin: 0 auto 18px;
}
.body-card__link {
  line-height: 1.25;
  position: relative;
  transition: all 0.3s;
  display: inline-block;
}
.body-card__link::before{
  content: "";
  position: absolute;
  background: url(../img/svg/arrow2.svg) ;
  top: 7.5px;
  left: 85px;
  width: 5px;
  height: 8px;
  
}
.body-card__link:hover{
  transform: scale(1.05);
}
.body-card__link:hover.body-card__link::after{
 transform: scale(1.05);
}
.body-card__link--bottom{
  margin-bottom: 76px;
}

.body-card--big {
  background-color: rgba(230, 239, 234, 1);
}
@media (width <= 1200px){
  
  .card{
   padding-block: 30px;
  } 
  .card__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .body-card--big{
    order: 3; 
    grid-column: 1 / span 2;

  }
}
@media (width <= 550px){
  .card__container {
    grid-template-columns:1fr;
    
  }
  .card{
   padding-block: 10px;
  }
  .body-card--big{
    grid-column:  span 1;
    background-color: rgba(247, 247, 247, 1);

  }
  .card__body--color{
    background-color: rgba(230, 239, 234, 1);
  }
  .body-card__link--bottom{
    margin-bottom: 5px;
  }
  .body-card__images--bottom img {
    margin-bottom: 16px;
  }
  .body-card__info--center {
    text-align: left;
  }
.body-card__text--wight {
    margin: 0 0 18px;
  }
}
/* -----------partners---------------------- */
.partners {
  padding-block: 82px;
}
.partners__title {
  margin-bottom: 72px;
  color: #2f302c;
  font-size: 32px;
  font-weight: 800;
  line-height: 1.25;
  text-align: center;
  
}
.partners__list {
  display: grid;
  gap: 68px 74px;
  grid-template-columns: repeat(auto-fill, minmax(170px,1fr));
  justify-items: center;
}
.partners__item {
  justify-items: center;
}
@media (width <= 768px){
  .partners {
  padding-block: 10px;
  
}
 .partners__list{
  grid-template-columns: repeat(auto-fill, minmax(90px,1fr));
  gap: 34px 37px;
 }
.partners__title {
  margin-bottom: 22px;
}
}
@media (width <= 479px){
  .partners__list  {
  gap: 5px ;
}
.partners__title {
  margin-bottom: 15px;
}
}
/* -----------products ------------------------ */
.products {
  padding-block: 82px;
}

.products__title {
  margin-bottom: 36px;
  color: #2f302c;
  font-size: 32px;
  font-weight: 800;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
}
.products__navigation {
}
.navigation-products {
  max-width: 407px;
  margin: 0 auto;
}
.navigation-products__items {
   margin-bottom: 80px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between; 
}
.navigation-products__item{
  position: relative;
 
}
.navigation-products__link {
  color: #2f302c;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  
}
.navigation-products__link::after{
  content: "";
  position: absolute;
  left: 0;
  top: 125%;
  background-color: #2f302c;
  height: 1px;
  width: 0;
  transition: all 0.5s;
}
.navigation-products__item:hover .navigation-products__link::after{
  width: 100%;
}

.products__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(440px,1fr));
  gap: 72px 36px;
  justify-items: center;
}
.products__card:hover {
  box-shadow: 5px 10px 10px #2f302c;
  
}

.card-product__image {
  margin-bottom: 32px;
  
}
.card-product__content {
  text-align: center;
}
.card-product__title {
  color: #2f302c;
  line-height: 1.25;
  text-transform: uppercase;
  margin-bottom: 12px;
  position: relative;
  display: inline-block;
}
.card-product__title-link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #2f302c;
  height: 1px;
  width: 0;
  transition: all 0.5s;
}
.card-product__title:hover .card-product__title-link::after {
  width: 100%;
}
.card-product__rating {
  margin-bottom: 12px;
}
.card-product__price {
  color: #2f302c;
  font-size: 20px;
  font-weight: 800;
  line-height: 1.4;
  
}
@media (width <= 479px){
  .products {
   padding-block: 20px;
}
  .navigation-products__items{
    margin-bottom: 30px;
  }
  .products__cards {
  grid-template-columns: repeat(auto-fill, minmax(290px,1fr));
  gap: 30px;
}
}
/* --------choice--------------------------- */
.choice {
  padding-block: 82px;
}
.choice__container {
  max-width: 1180px;
  margin: 0 auto; 
}
.choice__title {
  color: #2f302c;
  font-size: 32px;
  font-weight: 800;
  line-height: 1.25px;
  text-transform: uppercase;
  margin-bottom: 72px;
  text-align: center;
}
.choice__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 68px;
  grid-auto-rows: 1fr;
}
.choice__item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.item__title {
  color: #2f302c;
  font-weight: 700;
  line-height: 1.25;
}
.item__content {
  text-align: center;
  line-height: 1.25;
 
}
@media (width <= 992px){
  .choice {
  padding-block: 20px;
}
  .choice__items{
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr)); 
    gap:40px;
  }
  
}