@import url("reset.css");
@import url("fonts.css");

body {
  font-family: Lato, sans-serif;
  font-weight: 500;
  color: #7E7F7C;
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1422px;
  padding-inline: 15px;
  margin: 0 auto;
}

/* ----------------furniture-header--------------------------- */

.header__container {
  display: flex;
  padding-block: 60px;
  gap: 80px;
  flex-wrap: wrap;
  align-items: center;
}

.header__search { 
  flex-basis: 264px;
  display: flex; 
}

.header__button{
  background: url("../img/svg/vector.svg") left no-repeat;
  width: 17px;
  background-color: white; 
}

.header__search input {
  height: 43px;
  line-height: 1.25;
  padding-inline: 12px;
  outline: none; 
  border-bottom: 1px solid #92948e;
}

.header__nav{
  flex-grow: 1;
}

.header-nav__items {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 44px; 
  align-items: flex-start;
} 

.header-nav__link {
  color: #2f302c;
   text-transform: uppercase; 
  font-weight: 700;
  line-height: 1.25;
  position: relative;
  transition: all 0.3s;
}

.header-nav__link:hover{
   color: #939489;
}

.header-nav__item--menu {
  position: relative;
}
.header-nav__item--menu span {
  padding-right: 7px;
}
.header-nav__sub-menu {
  min-width: 50px;
  position: absolute;
  top: 35px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.header-nav__item--menu:hover .header-nav__sub-menu {
  opacity: 1;
  visibility: visible;
}

.header-nav__img {
  display: inline-block;
  transition: all 0.3s;
}

.header-nav__item--menu:hover .header-nav__img {
  transform: rotate(180deg);
}

.header-nav__item--menu::before {
  content: "";
  top: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 35px;
}

.sub-menu__item{
  text-align: center;
  position: relative;
}

.sub-menu__item:not(:last-child) {
  margin-bottom: 15px;
}

.sub-menu__link {
  font-weight: 700;
  line-height: 1.25;
  transition: all 0.3s;  
}

.sub-menu__link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: #2f302c;
  transition: all 0.3s;
}

.sub-menu__link:hover::after {
  width: 100%;
  left: 0;
}

.sub-menu__link:hover {
  color: #939489;
}

.header__activ-list {
  display: flex;
  gap: 44px;
}

.header__activ-item {
  color: #2f302c;
  font-weight: 700;
  line-height: 1.25;
  padding-left: 22px;
}

.header__activ-item--love{
  background: url("../img/svg/love.svg") left no-repeat;
}

.header__activ-item--cart{
  background: url("../img/svg/beg.svg") left no-repeat;
}

.header__activ-item:hover {
  color: #7e7f7c;
}

.icon-menu{
  display: none;
}

.furniture{
  background-image: url(../img/imags/rectangle.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 114px;
  padding-bottom: 110px;
  background-position: left;
}

.furniture__container{
  display: flex;
  justify-content: flex-end;
  align-items: center;  
}

.furniture__info{
  display: flex;
  flex-direction: column;
}

.furniture__info :not(:last-child){
  margin-bottom: 20px;
}

.furniture__subtitle {
  color: #2f302c;
  font-size: 20px;
  line-height: 1.4;
}

.furniture__title {
  color: #2f302c;
  font-size: 96px;
  font-family: "Montserrat",sans-serif;
  font-weight: 700;
  line-height: 1.04; 
  position: relative; 
}

.furniture__title span{
  font-weight: 800;
}

.furniture__title::after{
 content: "";
 position: absolute;
 width: 55%;
 height: 2px;
 background-color:#2f302c ;
 top: 110%;
 left: 0;
}

.furniture__description {
  padding-top: 16px;
  color: #2f302c;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.25;
}

.furniture__text {
  color: #7e7f7c;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}

@media (width <= 1355px) {
  .header__container {
    padding-block: 20px;
    gap:1px 35px;
  }
  .header__activ-list,
  .header-nav__items {
    gap: 20px;
  }
}
@media (width <= 1070px) {
  .header__container {
    gap: 20px;
  }
  .header__search { 
    flex-basis: 178px;  
  }
}
@media (width <= 950px) {
  .header__container {
    gap: 20px 19px;   
  }
  .header__logo {
    width: 37px;
    flex-shrink: 0;
    overflow: hidden;
  }
  .sub-menu__item:not(:last-child) {
    margin-bottom: 5px;  
  }
  .furniture__title{
    font-size: 45px;
  }
  .furniture__description{
    font-size: 16px;
  }
    
}
@media (width <= 768px) {
  .header__container {
    gap: 20px 18px;  
  }
  .icon-menu,
  .header__logo,
  .header__search,
  .header__nav,
  .header__activ-list{
    position: relative;
    z-index: 3;
  }
  .icon-menu {
	  display: block;
	  width: 30px;
	  height: 18px;
	  flex-shrink: 0; 
    background-color: white; 
	}
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    right: 0;
    background-color:#2f302c;    
  }
  .icon-menu::after{
    top: 0;
  } 
  .icon-menu::before{
    bottom: 0;
  }
  .icon-menu span{
    top: 50%;
    translate: 0 -50%; 
  }
  .header-nav{
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    background-color: #f6f6f6;
    z-index: 1;
    overflow: auto;
    transition: left 0.3s;
    padding: 120px 15px 30px 15px;
	} 
     
  .header-nav::before {
		content: "";
		position: fixed;
		width: 100%;
		height: 70px; 
		top: 0;
		left: 100%;
		transition: left 0.3s;
		background-color: #fff;
		z-index: 2;
	}
  .header-nav__items{
    flex-direction: column;
    align-items: center;
  }
  .header__search{
    flex-grow: 1;
  }
  .header-nav__sub-menu {
    left:100%;
    top: 0;
  }
  .header-nav__item--menu:hover .header-nav__img {
    transform: rotate(-90deg);
  }
  .header__activ-item{
    width: 20px;
    overflow: hidden;  
  }
  .header__activ-list{
    gap: 5px;
  }
  .furniture{
    background-image: url(../img/imags/rectangle.jpg);
    background-position: 15% 50%;
    padding-top: 60px;
    padding-bottom: 20px;
  }
  [data-menu-open] .icon-menu span {
		width: 0;
	}
	[data-menu-open] .icon-menu::before {
		rotate: -45deg;
		
    bottom: 50%;
		
	}
	[data-menu-open] .icon-menu::after {
		rotate: 45deg;
		translate: 2px -2px;
		top: 50%;
	}
	[data-menu-open] .header-nav,
	[data-menu-open] .header-nav::before {
		left: 0;
	}
}
@media (width <= 490px) {
  .header__container{
    gap: 7px;
  }
  .header-nav__items{
    gap: 25px;
  } 
  .header__button {
    display: none;
  }
  .header__search{
    flex-basis: 150px;
  }
  .header__search input{
    padding-inline: 5px;
    border: 1px solid #e1e4db;
    border-radius: 4px;  
  }
  .furniture__info{
    align-items: center;
  }
  .furniture__info :not(:last-child){
    margin-bottom: 5px;
  }
  .furniture__description {
    padding-top: 10px;
  }
}