@import url("reset.css");
@import url("fonts.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&display=swap");
body {
  font-family: Lato, sans-serif;
  font-weight: 700;
  font-size: 20px;
  max-width: 1950px;
  padding: 0 15px;
  margin: 0 auto;
}
.wrapper {
  position: relative;
  min-height: 100%;
  overflow: clip;
}
.header__container {
  max-width: 1700px;
  padding-block: 60px;
  margin: 0 auto;
  align-items: center;
}

.header__title {
  color: #2f302c;
  font-size: 96px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  line-height: 1, 25;
}
.position {
}
.position__static {
}
.position__title {
  color: #2f302c;
  font-size: 32px;
  font-family: "Lato", sans-serif;
  font-weight: 800;
  margin-bottom: 50px;
}
.position__title p {
  text-align: center;
}
.position__block {
}
.block-position > * {
  max-width: 1000px;
  min-height: 100px;
  border-radius: 50px;
  border: 3px solid green;
  margin-bottom: 30px;
  text-align: center;
}
[class*="block-position__"] > p {
  color: rgb(197, 16, 152);
  padding-top: 15px;
}

.block-position__three {
  background-color: bisque;
}
.block-position__three--relative {
  position: relative;
  left: 50px;
  top: -50px;
}
.block-position__one--lower,
.block-position__two--average,
.block-position__three--top {
  position: relative;
  min-height: 200px;
  max-width: 300px;
}
.block-position__two--average {
  left: 100px;
  top: -110px;
  background-color: rgb(247, 232, 212);
}
.block-position__three--top {
  left: 200px;
  top: -220px;
}
.block-position__one--three {
  z-index: 3;
}
.block-position__two--second {
  z-index: 2;
}

.block-position__three--one {
  z-index: 1;
  border-radius: 50px;
  border: 3px solid green;
}
.position__block--relative {
  position: relative;
}
.block-position__three--absolute {
  position: absolute;
  top: 60px;
}

.position__block--sticky {
  background-color: rgb(247, 232, 212);
  position: relative;
  border-radius: 80px;
  overflow: clip;
}
.block-position__one--sticky {
  position: sticky;
  left: 20%;
  top: 10px;
}
.block-position__sticky1 {
  height: 50px;
  border: none;
}
.block-position__two--sticky {
  position: sticky;
  left: 20%;
  top: 10px;
  z-index: 5;
}
.block-position__sticky {
  height: 1000px;
  border: none;
}
/* -----------------Домашня робота---------------------------------- */
.domachca__title {
  color: #2f302c;
  font-size: 56px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  line-height: 1.25;
  margin-bottom: 50px;
  text-align: center;
}
.domachca__navigation {
  padding: 25px 0;
  background-color: rgb(246, 235, 220);
  border-radius: 80px;
  border: 3px solid green;
  margin-bottom: 350px;
}
.domachca__menu {
  text-align: center;
  font-weight: 800;
}

.menu__list {
  font-size: 0;
  text-align: center;
}
.menu__item {
  position: relative;
  display: inline-block;
}
.menu__item:not(:last-child) {
  margin-right: 150px;
}
.menu__item:hover .menu__link {
  color: rgb(197, 16, 152);
}
.menu__link {
  font-size: 25px;
  line-height: 1.25;
}
.menu__item--arrow {
  position: relative;
}
.menu__link--arrow::after {
  content: "";
  background-image: url("../img/icons/arrov.svg");
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
  margin-top: 7px;
  position: absolute;
  transition: all 0.3s;
}
.menu__item--arrow:hover + .menu__link--arrow::after,
.menu__link--arrow:hover::after {
  rotate: 90deg;
}

.menu__menu-sub {
  position: absolute;
  top: 120%;
  left: -70px;
}
.sub-menu {
  min-width: 250px;
  padding: 25px 0px;
  text-align: left;
  visibility: hidden;
  opacity: 0;
}
.sub-menu::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 20px;
}
.menu__item:hover .sub-menu {
  visibility: visible;
  opacity: 1;
}
.sub-menu__item,
.menu-under__item {
  font-size: 25px;
  min-width: 150px;
  padding: 5px;
  background-color: rgb(246, 235, 220);
  border-radius: 80px;
  border: 3px solid green;
  text-align: center;
  position: relative;
}
.sub-menu__item:not(:last-child),
.menu-under__item:not(:last-child) {
  margin-bottom: 25px;
}

.sub-menu__item:hover .sub-menu__link {
  color: rgb(197, 16, 152);
}
.sub-menu__link {
  font-size: 25px;
}

.footer a {
  display: block;
  margin-bottom: 70px;
}

.sub-menu__under-menu {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 100%;
}
.menu-under {
  min-width: 250px;
  padding: 25px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
}
.sub-menu__item--activ:hover .sub-menu__under-menu {
  visibility: visible;
  opacity: 1;
}
.menu-under__item:hover .menu-under__link {
  color: rgb(197, 16, 152);
}
.sub-menu__item--activ {
  position: relative;
}
.sub-menu__link--marked::after {
  content: "";
  background-image: url("../img/icons/arrov.svg");
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 3px;
  position: absolute;
  transition: all 0.3s;
}
.sub-menu__item--activ:hover + .sub-menu__link--marked::after,
.sub-menu__link--marked:hover::after {
  rotate: 90deg;
}
/* ---------------list---------------------------------- */

.list__block {
  max-width: 350px;
  background-color: rgba(225, 244, 255, 1);
  padding: 16px 40px 16px;
  margin: 0 auto 30px;
  border-radius: 8px;
}
.list__item,
.list__item-gray {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-bottom: 15px;
  padding-top: 7px;
  padding-left: 42px;
  font-size: 14px;
  color: #252b42;
  line-height: 1.7;
  min-height: 32px;
  letter-spacing: 0.20000000298023224px;
  position: relative;
}
.list__item::before {
  content: "";
  background: url("../img/icons/check-badge.svg") no-repeat;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.2s;
}
.list__item-gray::before {
  content: "";
  background: url("../img/icons/check-badge-gr.svg") no-repeat;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.2s;
}

.list__item:hover::before {
  rotate: 360deg;
}
.list__item-gray:hover::before {
  rotate: 360deg;
}

/* -------------face------------------------------ */

.images-face__container {
  max-width: 1000px;
  margin: 0 auto;
}
.images-face__title {
  color: #000;
  font-size: 20px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  text-align: center;
  margin-bottom: 115px;
}
.images-face__cards {
  margin-bottom: 77px;
  font-size: 0;
}
.images-face__card {
  display: inline-block;
  max-width: 251px;
  position: relative;
  text-align: center;
}
.images-face__card:not(:last-child) {
  margin-right: 121px;
}
.card__title {
  position: absolute;
  top: 45%;
  left: 25%;
  color: #fff;
  font-size: 28px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
.card__link {
  position: absolute;
  left: 43%;
  bottom: 12px;
  color: #fff;
  font-size: 17px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
.card__link:hover {
  color: antiquewhite;
}
.images-face__button {
  max-width: 133px;
  border: 1px solid rgba(0, 0, 0, 1);
  padding: 10px 50px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  display: block;
  margin: 0 auto;
}

.images-face__button:hover {
  box-shadow: 1px 5px 5px 1px;
}
