@import url("reset.css");
@import url("fonts.css");

body {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 35px;
  background-color: rgb(217, 209, 209);
  max-width: 1630px;
  padding: 0 15px;
  margin: 0 auto;
}

h1 {
  font-size: 55px;
  font-weight: 500;
  margin-bottom: 75px;
}

.logo_text {
  display: inline-block;
}
.logo img {
  margin-right: 55px;
}
[class*="section-"] > * {
  display: inline-block;
  vertical-align: middle;
  margin-right: 70px;
  margin-bottom: 70px;
  line-height: 1.5;
}
img {
  border-radius: 33px;
  vertical-align: top;
  max-width: 100%;
}
.three {
  vertical-align: top;
  font-size: 0;
  margin-bottom: 50px;
}
.three-img {
  display: inline-block;
  max-width: 33.33%;
  border-radius: 10%;
}
.three > picture:not(:last-child) {
  margin-right: 40px;
}
.text {
  margin-bottom: 70px;
}
