@import url("reset.css");
@import url("fonts.css");

body {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 17px;
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1230px;
  padding-inline: 15px;
  margin: 0 auto;
}

[class*="page__"] {
  max-width: 1600px;
  margin: 0 auto;
}
/* ----------------header--------------------------- */
.header {
  position: relative;
}
.header__container {
  padding-block: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header__logo {
  margin-right: 161px;
}

.header-nav {
  display: flex;
  gap: 30px 61px;
  align-items: center;
}
.header-nav__items {
  display: flex;
  gap: 30px 61px;
  flex-wrap: wrap;
  margin-right: 131px;
}
.header-nav__item {
  color: #343434;
  font-size: 16px;
  position: relative; 
}
.header-nav__item::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: #343434;
  transition: all 0.5s;
}

.header-nav__item:hover::after{
  width: 100%;
  left: 0;
}

.header-nav__sing-up {
  width: 150px;
  padding-block: 10px;
  background-color: rgba(186, 147, 111, 1);
  color: white;
  text-align: center;
  border-radius: 15px; 
  transition: all 0.3s;
}

.header-nav__sing-up:hover{
  color: #343434;
}
.header-nav__sing-up:active{
  box-shadow: 5px 5px 6px  rgb(44, 27, 11);
   
}
.icon-menu {
  display: none;
}

@media (width <= 1168px) {
  .header__logo {
    margin-right: 50px;
}
  .header-nav__items {
   margin-right: 30px;
   gap:20px;
}
}

@media (width <= 809px) {
  .header__logo {
   z-index: 3;
}
.header-nav__item{
  font-size: 25px;
  align-items: flex-start;
}
.icon-menu {
  display: block;
  width: 35px;
  height: 25px;
  background: white;
  position: relative;
  flex-shrink: 0;   
}
.icon-menu span,
.icon-menu::before,
.icon-menu::after{
  content: "";
  width: 100%;
  height: 3px;
  background:rgba(186, 147, 111, 1);
  position: absolute;
  left: 0;
  z-index: 3;
  transition: all 0.5s;
  border-radius: 25px; 
}
.icon-menu span{
  top: 50%;   
}
.icon-menu::before{
  top: 0;
}
.icon-menu::after{
  bottom: 0;    
}
  .header__container{
    position:fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    z-index: 4;
    overflow: hidden;
    background: white;
  }
 
  .header-nav{
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    background-color: #f6f6f6;
    z-index: 2;
    overflow: auto; 
    transition: left 0.3s;
    padding: 50px 15px 30px 15px;
	} 
    .header-nav__items {
     display: flex;
     flex-direction: column;
      gap:40px;
     align-items: self-start;
}
 [data-menu-open] .icon-menu span {
		width: 0;
	}
	[data-menu-open] .icon-menu::before {
		rotate: -45deg;
    translate:0px 15px;
    bottom: 50%;
		
	}
	[data-menu-open] .icon-menu::after {
		rotate: 45deg;
	
		top: 50%;
	}
	[data-menu-open] .header-nav,
	[data-menu-open] .header-nav::before {
		left: 0;
	}
}
/* -----------page__yoga------------------------------ */ 
.yoga {
  display: flex;
  max-width: 1600px;
  position: relative;
  margin: 0 auto 99px;
}
.yoga::after{
  content: url(../img/images/flover-2.png);
  position: absolute;
  left: 1400px;
  top: -120px;
}
.yoga::before{
  content: url(../img/images/flover-1.png);
  position: absolute;
  top: 300px;
  left: 0;
}
.yoga__container {
  display: flex;
  padding-top: 71px;
  gap: 18px; 
}
.yoga__title {
  color: #ba936f;
  font-size: 50px;
  font-family: "Lora",serif;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 80px;
  margin-bottom: 59px;
}
.yoga__info {
  color: #343434;
  font-size: 19px;
  line-height: 142%;
  margin-bottom: 59px;  
}
.yoga__activ span{
  margin-left: -43px;
  position: relative; 
}
.yoga__activ span::after{
  content:url(../img/svg/right-arrow.png);
  position: absolute;
  left: 105%;
  top: 0px;
}
.yoga__activ span::before{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: #343434;
  transition: all 0.3s;
}
.yoga__activ span:hover::before{
  width: 100%;
  left: 0;
}
@media (width <= 1550px) {
 .yoga::after,
 .yoga::before{
  left: -200px;
 }
}
@media (width <= 1150px) {
 .yoga__title {
  font-size: 30px;
}
.yoga__info {
  font-size: 16px;  
}
}

@media (width <= 930px) {
 .yoga__title {
   padding-top: 30px;
   margin-bottom: 30px; 
}
.yoga__info {
 margin-bottom: 25px;   
}
}
@media (width <= 768px){
  .yoga__container{
    display: flex;
    flex-direction: column;
  }
}
/* -------------page__preactic------------------------------------------------------ */
.preactic{
  max-width: 1600px;
  position: relative;
  margin: 0 auto ;
}
.preactic::before{
  content: url(../img/images/flover-2.png);
  position: absolute;
  top: 300px;
  left: 1400px;
} 
.preactic__container {
  display: flex;
  gap: 40px;
  margin-bottom: 140px;
}

.preactic__title {
  color: #ba936f;
  font-size: 35px;
  font-family: "Lora",serif;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 70px;
  margin-bottom: 55px;  
}
.preactic__info {
  max-width: 561px;
  color: #343434;
  font-size: 19px;
  line-height: 142%;
}
.preactic__info p{
  margin-bottom: 44px;
}
.preactic__info span{
  color: #ba936f;
  font-weight: 600;
  margin-bottom: 44px;
}
.preactic__activ {
  width: 200px;
  height: 46px;
  text-align: center;
  padding: 12px 47px;
  background-color: rgba(186, 147, 111, 1);
  color: white;
  border-radius: 15px;
}
.preactic__activ:hover{
  color: #343434;
}
.preactic__activ:active{
   box-shadow: 4px 5px 6px  rgb(44, 27, 11);
   
}
.preactic__imag {
  max-width:  100%;
}
@media (width <= 1550px) {
 .preactic::before{
  left: -200px;
 }
}
@media (width <= 1160px){
  .preactic__container {
   gap: 20px;
  }
 
 .preactic__title {
  font-size: 35px;
  padding-top:40px;
  margin-bottom: 20px;
  
}
.preactic__info {
  font-size: 18px;
}
.preactic__info p{
  margin-bottom: 20px;
}
}
@media (width <= 1000px){
  .preactic__title  {
  font-size: 20px;
  padding-top: 0px;
  margin-bottom: 20px;
  }
  .preactic__info p{
  font-size: 16px;
  }
}
@media (width <= 768px){
  .preactic__container {
   display: flex;
   flex-direction: column-reverse; 
    gap: 28px;
    margin-bottom: 116px;
  }
   .preactic__title {
    font-size: 30px;
    margin-bottom: 49px; 
}
.preactic__info {
  font-size: 18px;
  margin-bottom: 39px;
}
.preactic__imag{
  display: block;
  text-align: center; 
}
}
/* ----------.page__our-lessons------------------------- */
.our-lessons__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 138px;
}

.our-lessons__title {
  color: #ba936f;
  font-size: 35px;
  font-family: "Lora",serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.our-lessons__text {
  color: #343434;
  font-size: 17px;
  line-height: 158.8%;
  margin-bottom: 64px;
  max-width: 839px; 
}
.our-lessons__images {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 43px;
  justify-content: space-between;
}
.our-lessons__images img{
  margin-bottom: 14px;
}
figcaption{
  color: #ba936f;
  font-size: 22px;
  font-family: "Lora",serif;
  font-weight: 400;
}
@media (width <= 768px){
  .our-lessons__images {
   display: grid;
   grid-template-columns: 1fr;
   text-align: center;
  }
  .our-lessons__title{
    margin-bottom: 76px;
  }
}
/* -----------page__join------------------------ */
.page__join{
  position: relative;
}
.join::after{
  content: url(../img/images/flover-1.png);
  position: absolute;
  top: -150px;
} 
.join__title {
  color: #ba936f;
  font-size: 35px;
  font-family: "Lora",serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 16px;
  max-width: 515px;
}
.join__text {
  color: #343434;
  font-size: 17px;
  line-height: calc(158.8%);
  max-width: 830px;
}
.join__schedule {
  display: flex;
  justify-content: space-between;
  gap: 34px;
}
.schedule__day {
  display: flex;
  flex-direction: column;
  padding-block: 80px;
  max-width: 100%;
  flex-grow: 1;
}
.day__info {
  display: flex;
  justify-content: space-between;
  flex-grow: 1; 
  flex-wrap: wrap;
  padding-block: 14px;
  border-top:1px solid #ba936f;
  border-bottom:1px solid #ba936f;
  gap: 10px;
}

.day__title,
.day__lesson,
.day__time {
  color: #343434;
  font-size: 17px;
  line-height: 158.8%;
  text-transform: uppercase;
}
.day__lesson::after {
  content: url(../img/svg/up-right-arrow.png);
  width: 100%;
}
@media (width <= 1550px) {
 .join::after{
   left: -200px;
 }
}
@media (width <= 1100px) {
 .join__schedule{
  flex-direction: column-reverse;
  align-items: center;
}
.schedule__day{
  width: 100%;
}
.join__text {
  margin-bottom: 52px;
}
}
 @media (width <= 570px) {
  .day__title,
  .day__lesson,
  .day__time{
    font-size: 15px;
  }
 .day__info {
  flex-direction: column;
  align-items: center;
}
.day__title{
  order: 1;
}
.day__time{
  order: 2;
}
.day__lesson{
  order: 3;
}
}
