@import url("reset.css");
@import url("fons.css");
@import url('https://fonts.googleapis.com/css2?family=Allison:wght@400&display=swap');

body{
     font-family: Acme, serif;
     font-size: 25px;
}
[class*="fonds-css" ],
[class*="fonds-link" ]{
  font-family: Acme,serif;
   padding-bottom: 25px;
   max-width: 900px;

}

h1{
    font-family:Roboto, sans-serif; 
    font-weight: 600;
    font-size: 45px;
    color: blue;
     padding-bottom: 25px;
     text-shadow: 5px 5px 5px rgb(159, 159, 185);
     text-align: center;
     text-transform: uppercase;
     letter-spacing: 2px;
}
.fonds-css_title,
.fonds-link_title {
    font-family:Allison, sans-serif; 
    font-size: 35px;
    color: rgb(153, 10, 10);
     padding-bottom: 25px;
     text-align: center;
     text-decoration: underline;
     text-decoration-color:blue; 
     text-decoration-thickness: 3px;
     text-underline-offset: 3px;
}

.fonds-css_text > p,
.fonds-link_text > p,
.fonds-link_example p{
     padding-bottom: 25px;
     line-height: 1.5;
}
.fonds-css_example>*{
     padding-bottom: 25px;
     line-height: 1.5;
}

.conclionus p{
     font-family:FixelText-Bolt, sans-serif;
     font-weight: 500;
     font-size: 30px;
     max-width: 900px; 
     padding-bottom: 25px;
     text-align: center;
     text-decoration: underline;
     text-decoration-color:blue; 
     
}
.conclusion-item{
     font-family:FixelText-Medium, sans-serif; 
     font-weight: 500;
     font-size: 25px;
     padding-bottom: 25px;
     line-height: 1.5;
}